.hero {
  position: relative;
  text-align: center;
  background-size: cover;
  height: 80vh;
  overflow: hidden;
  margin-top: -30px;
  background-position: center;
}

@media screen and (max-width: 380px) {
  .hero {
    background-size: contain;
    background-position: center;
    background-repeat: none;
    margin-top: 0px;
    height: 600px;
    max-width:380px;


  }
}
  

  

  .hero__title {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
  }
  
  .hero__subtitle {
    font-size: 1rem;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
  }
  
  .hero__button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .hero__button:hover {
    background-color: #555;
  }
  @media screen and (max-width: 480px) {
    .hero__title {
      font-size: 2.5rem;
    }
    .hero__subtitle {
        font-size: 1.5rem;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        margin-bottom: 1rem;
      }
      .hero {
        background-size: contain;
        background-position: center;
        margin-top: 0px;
        height: 600px;
        max-width:480px;
        background-repeat: none;

      }
      .hero__title {
        font-size: 1.2rem;
        color: #fff;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 1rem;
      }
      
      .hero__subtitle {
        font-size: 0.8rem;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        margin-bottom: 1rem;
        font-weight: 400;
      }
      
   
      
  }
  @media (min-width: 768px) {
    .hero__title {
      font-size: 2.5rem;
    }
    .hero__subtitle {
        font-size: 1.5rem;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        margin-bottom: 1rem;
      }
      .hero {
        background-size: contain;
        background-position: center;
        margin-top: 0px;
        max-width:768px;
        background-repeat: none;

    
      }
      
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }